@media screen and (min-width: 375px) {
    body {
        font-family: 'manrope', sans-serif;
        background-color: #ecf2f8;
        min-width: min-content;
    }
    .main {
        display: flex;
        flex-wrap: nowrap;
        background-color: #fff;
        max-width: max-content;
        border-radius: 10px;
        margin: 12% auto 12% auto;
    }
    .main>div {
        height: 446px;
        width: 540px;
        background-color: #fffff;
    }
    .michelle {
        display: flex;
        flex-wrap: nowrap;
        max-width: max-content;
        border-radius: 10px;
        margin: 0 10% 0 10%;
    }
    .michelle>div {
        width: 100px;
        margin: 0 20% 0 0;
    }
    .content {
        color: black;
        border-radius: 10px 0 0 10px;
    }
    .left {
        opacity: .5;
        border-radius: 0 10px 10px 0;
        background-image: url("../img/drawers.jpg");
    }
    .left>h1 {
        padding: 10% 10% 0 10%;
        line-height: 1.2;
        font-size: 35px;
    }
    .left>p {
        padding: 0 30% 5% 10%;
        line-height: 1.5;
        font-size: 16px;
        font-weight: 50;
        color: rgb(207, 207, 207);
    }
    .michelle>div>h2 {
        font-size: 35px;
        margin: 0;
        text-transform: uppercase;
    }
    .michelle>div>p {
        font-size: 15px;
        margin: 0;
        text-transform: uppercase;
        color: rgb(207, 207, 207);
    }
    .left .insights {
        color: rgb(175, 103, 216);
    }
}

@media screen and (max-width: 1000px) {
    body {
        font-family: 'marope', sans-serif;
        background-color: #040210;
        min-width: 700px;
    }
    .main {
        display: flex;
        flex-wrap: wrap;
        background-color: #430065;
        max-width: max-content;
        border-radius: 10px;
        margin: 12% 5% 12% 5%;
        text-align: center;
    }
    .main>div {
        height: max-content;
        width: 100%;
        background-color: #0f002b;
    }
    .main .right {
        height: 446px;
    }
    .michelle {
        display: block;
        max-width: max-content;
        border-radius: 10px;
        margin: auto auto 15% auto;
    }
    .michelle>div {
        width: max-content;
        margin: auto auto 50% auto;
    }
    .left {
        order: 2;
        color: rgb(238, 238, 238);
        border-radius: 0 0 10px 10px;
    }
    .right {
        height: 446px;
        order: 1;
        opacity: .5;
        border-radius: 10px 10px 0 0;
        background-image: url("../img/image-header-mobile.jpg");
    }
    .left>h1 {
        padding: 5% 5% 0 5%;
        line-height: 1.2;
        font-size: 59px;
        font-weight: 600;
    }
    .left>p {
        padding: 0 10% 5% 10%;
        line-height: 1.5;
        font-size: 33px;
        font-weight: 50;
        color: rgb(207, 207, 207);
    }
    .michelle>div>h2 {
        font-size: 59px;
        font-weight: 600;
        text-transform: uppercase;
        margin: 0;
    }
    .michelle>div>p {
        font-size: 33px;
        font-weight: 50;
        text-transform: uppercase;
        color: rgb(207, 207, 207);
        margin: 0;
    }
    .left .insights {
        color: rgb(175, 103, 216);
    }
}