:root {
    font-size: 62.5%;
    font-family: "Manrope", sans-serif;
    box-sizing: border-box;
}

html,
body {
    height: 100vh;
}

body {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 2rem;
    padding-top: 0;
    background-color: #ecf2f8;
}

.article-preview {
    display: flex;
    position: relative;
    flex-direction: column;
    max-width: 33rem;
    background-color: #fff;
    border-radius: 10px;
}

@media screen and (min-width: 80rem) {
    .article-preview {
        flex-direction: row;
        max-width: 73rem;
    }
}

.text {
    padding: 3.5rem;
    text-align: left;
}

@media screen and (min-width: 80rem) {
    .text {
        padding: 1.5rem 4rem 0.5rem;
    }
}

.text h1 {
    color: #48556a;
    font-size: 1.6rem;
    line-height: 2.4rem;
}

@media screen and (min-width: 80rem) {
    .text h1 {
        font-size: 2rem;
        line-height: 2.8rem;
    }
}

.text p {
    color: #6e8098;
    font-size: 1.3rem;
    font-weight: 200;
    line-height: 2rem;
}

.hero-image {
    background-image: url("../img/drawers.jpg");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    min-height: 20rem;
    min-width: 28rem;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
}

@media screen and (min-width: 80rem) {
    .hero-image {
        border-bottom-left-radius: 10px;
        border-top-right-radius: 0px;
    }
}

.footer {
    display: flex;
    position: relative;
    padding: 0 3rem 2rem;
    justify-content: space-between;
    align-items: center;
}

@media screen and (min-width: 80rem) {
    .footer {
        padding: 0 4rem 2.5rem;
    }
}

.author-avatar img {
    width: 40px;
    height: 40px;
    border-radius: 50%;
}

.author {
    display: flex;
    align-items: center;
}

.author-info {
    font-size: 1.3rem;
    color: #9daec2;
    display: flex;
    flex-direction: column;
    margin-left: 1.5rem;
}

.author-name {
    color: #48556a;
    font-weight: 700;
    line-height: 2rem;
}

.date {
    font-weight: 200;
    line-height: 2rem;
}

button {
    width: 32px;
    height: 32px;
    border: none;
    border-radius: 50%;
    background-image: url("../img/icon-share.svg");
    background-repeat: no-repeat;
    background-position: center;
}

.media-links.open {
    position: absolute;
    display: flex;
    align-items: center;
    justify-content: space-between;
    z-index: 100;
    padding: 0 3rem;
    background-color: #48556a;
    left: 0;
    right: 0;
    bottom: 0;
    height: 75px;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
    opacity: 1;
    visibility: visible;
}

@media screen and (min-width: 80rem) {
    .media-links.open {
        position: absolute;
        display: flex;
        align-items: center;
        justify-content: center;
        z-index: 100;
        padding: 0 2.5rem;
        background-color: #48556a;
        left: 540px;
        bottom: 85px;
        right: -78px;
        height: 60px;
        width: 220px;
        border-radius: 10px;
    }
    .media-links.open::after {
        content: "";
        width: 25px;
        height: 25px;
        transform: rotate(45deg);
        background-color: #48556a;
        position: absolute;
        bottom: -10px;
    }
    .share-open {
        display: none;
    }
    .icons img {
        width: 20px;
        height: 20px;
    }
}

.media-links {
    display: none;
    opacity: 0;
    visibility: hidden;
    transition: all 0.5s ease;
}

.icons {
    display: flex;
    align-items: center;
}

.icons>*+* {
    margin-left: 1.5rem;
}

.icons h3 {
    color: #9daec2;
    font-size: 1.3rem;
    letter-spacing: 0.5rem;
    font-weight: 400;
}